.signUpBlock {
  background-color:#ECF0F1;
  padding:20px;
  min-height:100px;
}
.signUpTitle {
  text-transform: uppercase;
  color: #45B61D;
  border-bottom: 3px solid #45B61D;
  text-align: center;
  font-size: 16px;
  padding-bottom: 15px;
  margin-bottom: 20px;
}

.inputItemBlock {
  margin-bottom: 20px;
}

.submitBtn {
  margin-bottom: 80px;
}

.bottomText {
  font-size: 13px;
  line-height: 18.20px;
  text-align: center;
  white-space: pre;
  margin-top: 0;
  margin-bottom: 0;
}