.ErrorContainer {
	color: red;
	font-family: sans-serif;
	p {
		margin: 0;
		font-size: 16px;
	}
}
.InputTextContainer {
	display: inline-block;
	position: relative;
	font-family: sans-serif;
	.input-inner-wrapper {
		position: relative;
		&.isError {
			margin-bottom: 4px;
			input {
				border: red solid 1px;
				padding-right: 50px;
			}
		}
	}
	input {
		height: 44px;
		background-color: #FDFDFD;
		border-radius: 2px;
		border: 1px #858585 solid;
		padding: 10px 20px;
		color: #858585;
		font-size: 16px;
		&::placeholder {
			color: #858585;
		}
		&:active,
		&:focus {
			border-color: #39495f;
			outline: none;
		}
		&.disabled {
			color: #41474a;
			&::placeholder {
				color: #e8b6b6;
			}
		}
	}
}
.FullWidth {
	&-full {
		width: 100%;
	}
}
