.topSection {
  max-width:100%;
  overflow:hidden;
  position:relative;
}

.girlsImg {
  width:100%;
}

.topSectionInner {
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  display:flex;
  justify-content: space-between;
}

.topSectionRightColumn {
  padding:10px 24px;
}

.happyCouples {
  color: #fff;
  font-size: 18px;
  margin-bottom: 25%;
}

.happyCouplesQuantity {
  font-size: 48px;
}

.headerWithDescrAndButton {
  h1{
    font-size: 48px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 20px;
  }
  p {
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    margin-top: 0;
    margin-bottom: 20px;
    max-width: 655px;
    line-height: 23.40px;
  }
}

.authColumn {
  flex: 1 auto;
  padding-top:20px;
  padding-bottom:40px;
  display:flex;
  align-items: flex-end;
}

.authColumnInner {
  max-width:332px;
  margin-right:auto;
  margin-left:auto;
}

@media (max-width: 999.98px) {
  .girlsImg {
    width:124%;
  }
}

@media (max-width: 600px) {
  .girlsImg {
    width:160%;
  }
}

@media (max-width: 450px) {
  .girlsImg {
    width:249%;
  }
}